
.button-add {
  font-size: 60px;
  position: fixed;
  bottom: 102px;
  right: 20px;
  background: #fff;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 57px;
  border-radius: 50%;
  text-align: center;
  transition: all .2s;
  &:hover{
    cursor: pointer;
    background:#FF5959;
    color: #fff;
  }
  &.add-user-button{
    position: static;
    margin: 0 auto;
  }
}

