
p{
  margin: 0;
}


.card {
  box-shadow: 1px 1px 1px 1px #d8d8d8;
  text-decoration: none;
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  a {
      text-decoration: none;
      color: #424242;
  }
  img{
      width: 100%;
  }
}