
p{
  margin: 0;
}


.card {
  text-decoration: none;
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: #e1e1e1;
  border-radius: 11px;
    .initials{
    // z-index: 5; 
    // position: fixed;
    // display: flex; 
    // align-self: flex-end;
    // bottom: 10%; 
    // margin-bottom: 68px;
    // margin-right: 14px;
    border-radius: 50%;
    background-color: #888888;
    display: inline-block;
    color: white;
    opacity: 0.5;
    width: 80px;
    height: 80px;  
    margin-bottom: 10px;

    p.initials-letters{
      line-height: 5;
    }
  }
  .wrapper {
    border-radius: 21px;
    background-color: #f9f9f9;
  }
  
  
  a {
      text-decoration: none;
      color: #424242;
  }
  img{
      width: 100%;
  }
}