<h3 *ngIf="user">Hello, {{user.username}}</h3>

<ul class="cards container"  *ngIf="documents">
  <li *ngFor="let item of documents">
      <a [routerLink]="['/profile/document', item._id]">
        <app-documents [documents]="item"></app-documents>
      </a>
  </li>
</ul>

<div class="ghost-state container" *ngIf="documents && !documents.length">
  <img src="../../../assets/images/Ghost.png" alt="ghost image">
  <h3>Welcome to uploadly.</h3>
  <p>No documents have been shared with you yet… so watch this space</p>
</div>
