<div class="homepage">
  <div class="about">
    <img src="https://picsum.photos/527/7code00" alt="">
    <p>Crucifix keytar roof party skateboard poke. +1 exercitation quis cardigan, gastropub mumblecore deep v lumbersexual irure est direct trade sartorial copper mug. Irony brooklyn shaman, chia hell of cardigan four loko live-edge ut trust fund nostrud aliqua kogi ex. Portland sunt ut lo-fi 3 wolf moon occaecat ut chicharrones pug hella ut etsy everyday carry. Cupidatat pitchfork adaptogen franzen vice adipisicing in tbh occaecat green juice brunch dolore mustache enamel pin.</p>
  </div>
  <div class="auth-screen">
    <div class="auth-nav">
      <a (click)="handleLoginClick()" [ngClass]="{'active': isLogin}">Login</a>
      <a (click)="handleSignupClick()" [ngClass]="{'active': isSignup}">Signup</a>
    </div>
    <ng-container *ngIf="isLogin">
      <app-login></app-login>
    </ng-container>
    
    <ng-container *ngIf="isSignup">
      <app-signup></app-signup>
    </ng-container>
  </div>
</div>

