<div class="homepage">
  <div class="about">
    <h1 class="container">Welcome!</h1>
    <p class="container">Crucifix keytar roof party skateboard poke. +1 exercitation quis cardigan, gastropub mumblecore deep v lumbersexual.</p>
  </div>
  <div class="auth-screen">
    <div class="auth-nav">
      <a (click)="handleLoginClick()" [ngClass]="{'active': isLogin}">Login</a>
      <a (click)="handleSignupClick()" [ngClass]="{'active': isSignup}">Signup</a>
    </div>
    <div *ngIf="user">
      <ng-container *ngIf="isLogin">
        <app-login></app-login>
      </ng-container>
      
      <ng-container *ngIf="isSignup">
        <app-signup></app-signup>
      </ng-container>
    </div>
  </div>
</div>

