<header id="site-header">
  <a class="logo" [routerLink]="['/']">
    <img src="../assets/images/uploadly-no-slogan.png" alt="uploadly logo">
  </a>

  <div class="nav" *ngIf="!loading && !!user">
    <div *ngIf="!loading && !!user && user.role === 'admin'">
      <a [routerLink]="['/dashboard']">Dashboard</a>
      <a [routerLink]="['/dashboard']"> {{user.username}}</a>
    </div>
    <div *ngIf="!loading && !!user && user.role === 'user'">
      <a [routerLink]="['/profile']">Profile</a>
      <a [routerLink]="['/profile']"> {{user.username}}</a>
    </div>
    <div class="navigation">
      <a class="button" (click)="logout()">Logout</a>
    </div>
  </div>
  
</header>

<main id="site-main">
  <router-outlet>
    <div *ngIf="loading">
      <span class="username text"><img src="https://www.expocan.mx/images/ringb.gif?crc=3888635739" ></span>
    </div>
  </router-outlet>
</main>

<footer id="site-footer">
  <ul class="social-media">
    <li><a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png" ></a></li>
    <li><a href="https://facebook.com/" target="_blank"><img src="../assets/images/facebook.png" ></a></li>
  </ul>
  <ul>
    <li>Terms & Conditions</li>
    <li>Make uploading fun again!</li>
    <li><a href="/contact" target="_blank">Contact</a></li>
  </ul>
</footer>
