<header id="site-header">
  <h1>Uploadly</h1>
  <div *ngIf="!loading && !anon">
    <a [routerLink]="['/dashboard']">Dashboard</a>
    <a (click)="logout()">Logout</a>
    <!-- <a [routerLink]="['/create']">Create</a>
    <a [routerLink]="['/list']">List</a> -->
  </div>
  <div *ngIf="!loading && user">
    <a [routerLink]="['/']">{{user.username}}</a>
  </div>
  <div *ngIf="!loading && user">
    <a [routerLink]="['/login']">login</a>
  </div>
</header>

<main id="site-main">
  <router-outlet>
    <div *ngIf="loading">
      <span class="username text"><img src="https://cdn.dribbble.com/users/106600/screenshots/2150230/dribbble-loader-green.gif" ></span>
    </div>
  </router-outlet>
</main>

<footer id="site-footer">
  <p>Make uploading fun again!</p>
</footer>


<!-- <pdf-viewer [src]="pdfSrc" 
          [render-text]="true"
          style="display: block;"
></pdf-viewer> -->
