<h1> Add a document</h1>

<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate >
  <div class="field">
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="name" #nameField="ngModel" required minlength="3" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && nameField.errors">
        <p *ngIf="nameField.errors.required" class="validation">Please name your file</p>
        <p *ngIf="nameField.errors.minlength" class="validation">The name of your file is too short</p>
      </div>  
  </div>

  <div class="field">
    <label>Type</label>
    <select name="type">
      <option value="Contract">Contract</option>
      <option value="Presentation">Presentation</option>
      <option value="Proposal">Proposal</option>
      <option value="Survey">Survey</option>
      <option value="Other">Other</option>
    </select>
  </div>
  
  <div class="field submit">
    <label for="">Select your file here</label>
    <input type="file" name="document" ng2FileSelect [uploader]="uploader" />
    <button type="submit" name="document">Add the document</button>
  </div>
</form>

