body {
  padding-bottom: 30px;
  //----try out this new background-color----//
  background-color: #D2DBDD;
}

html, body { 
  height: 100%;
}

#site-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 -3px 11px #d4d5d4;
  height: 80px;
  top: 0;
  z-index: 1;
  
  a {
    padding: 10px;
  }
  img {
    max-width: 100px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#site-main {
  position: relative;
  margin-bottom: 50vh;
}

.container {
  margin: 0 20px;
}


.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

#site-footer{
  color: white;
  background-color: #b7b7b7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;

  li {
    padding: 0 5px;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
  }
  
  a {
    color: white;
  }

  .social-media img {
    width: 24px;
    margin-bottom: 0;
  }
} 





