body {
  padding-bottom: 30px;
  //----try out this new background-color----//
  background-color: #D2DBDD;
}

a {
  text-decoration: none;
  color: black;
}

#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  a {
    padding: 10px;
  }
  img {
    width: 100%;
  }
}

#site-main {
  margin-bottom: 30px;
}

.container {
  margin: 0 20px;
}


.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

#site-footer{
  color: white;
  background-color: #b7b7b7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;

  li {
    padding: 0 5px;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
  }
  
  a {
    color: white;
  }

  .social-media img {
    width: 24px;
    margin-bottom: 0;
  }
} 





